---
---
<form action="/search" class="join w-full max-w-xl">
    <input type="search" name="q" class="input join-item flex-1" placeholder="Search"/>
    <input type="submit" value="Search" class="btn join-item"/>
</form>
